* {
 box-sizing: border-box;
}

:focus {
 box-shadow: black, 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  background: linear-gradient(orange, yellow);
  margin: 100%;
  background-repeat: no-repeat;
}

.search-container {
 position: fixed;
  top: 50%;
  left:42%;
}
.search-container input,
.search-container .suggestions {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.25);
}

ul li {
  list-style: none;
 
}
ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
